{#
/**
 * @file
 * Theme override for the main navigation menu.
 */
#}
<ul{{ attributes.addClass('main-nav__menu') }}>
  {% for item in items %}
    <li{{ item.attributes.addClass('main-nav__item') }}>
      {{ link(item.title, item.url) }}
    </li>
  {% endfor %}
</ul> 