{#
/**
 * @file
 * Theme override for taxonomy term references.
 */
#}
{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
    'taxonomy-terms',
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {% if not label_hidden %}
    <div class="field__label">{{ label }}</div>
  {% endif %}
  <div class="field__items">
    {% for item in items %}
      <div{{ item.attributes.addClass('field__item', 'taxonomy-term') }}>
        {{ item.content }}
      </div>
    {% endfor %}
  </div>
</div> 