{#
/**
 * @file
 * Theme override to display a single page.
 */
#}
<div class="page-wrapper">
  <header class="header">
    <nav class="main-nav">
      <div class="main-nav__container">
        {{ page.header }}
        {{ page.primary_menu }}
        
        <button class="main-nav__mobile-toggle" aria-label="Toggle menu" aria-expanded="false">
          <svg class="main-nav__mobile-toggle-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
          </svg>
        </button>
      </div>
    </nav>
  </header>

  <main class="main-content">
    {{ page.content }}
  </main>
  {{ page.below_content }}

  {% include '@skyline/layout/footer.html.twig' %}
</div> 